# Project dependencies
.idea
.zed
.cache
*.pyc
node_modules
yarn-error.log
/dist

# Build directory
/build
.DS_Store
.sass-cache/
_posts/
_site/
db.csv
danpalmer.sql
.kiro

.env*
config.yaml
.mypy_cache
.pdm-python
.venv/
