[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "==0.15.4"
gpxpy = "==1.4.2"
stravalib = "==0.10.2"
appdirs = ">=1.4.0"
svgwrite = ">=1.1.9"
colour = "*"
s2sphere = "*"
arrow = "*"
geopy = "*"
polyline = "*"
sqlalchemy = "*"
timezonefinder = "*"
aiofiles = "*"
PyYAML = "*"

[dev-packages]

[requires]
python_version = "3.8"
