[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "==0.21.1"
gpxpy = "==1.4.2"
stravalib = "==0.10.2"
appdirs = ">=1.4.0"
svgwrite = ">=1.1.9"
colour = "*"
s2sphere = "*"
arrow = "*"
geopy = "*"
polyline = "*"
sqlalchemy = "*"
timezonefinder = "*"
aiofiles = "*"
PyYAML = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
