httpx>=0.15.0,<=0.25.0
gpxpy==1.6.2
stravalib
appdirs>=1.4.0
svgwrite>=1.1.9
colour>=0.1.5
s2sphere
arrow
geopy
polyline
sqlalchemy
tzfpy; platform_system != "Windows"
timezonefinder; platform_system == "Windows"
pyyaml
aiofiles
cloudscraper==1.2.71
git+https://github.com/alenrajsp/tcxreader.git
rich
lxml
eviltransform
stravaweblib
tenacity
numpy
tzlocal
fit-tool
haversine==2.8.0
garmin-fit-sdk>=21.115.0
garth
