$global-font-family: 'IBM Plex Mono', 'IBM Plex Sans', 'Microsoft YaHei',
  ibm-plex-sans, 'Helvetica Neue', Arial, sans-serif;

$breakpoint-mobile: 960px;
$breakpoint-stack: 530px;

$nike: rgb(224, 237, 94);
$light: rgb(204, 204, 204);
$dark: rgb(26, 26, 26);
