@import '../../styles/variables.scss';
// reference on font or background color: https://2colors.colorion.co/?ref=prototyprio
.body {
  background-color: $dark;
  color: $nike;
  p,
  h1,
  h3,
  h4,
  li {
    color: $nike;
  }
}
